In [1]:
#square
#st=stars and sp=spaces
n=5
st=n
sp=0
for i in range(n):
    for j in range(st):
        print('*',end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [2]:
# square by using functions
def square(n):
    sp,st=0,5
    for i in range(n):
        for j in range(st):
            print('*',end=" ")
        print()
square(5)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [17]:
# Traingle
sp=n-1
st=1
n=5
for i in range(n):
    for j in range(sp):
        print(' ',end=" ")
    for k in range(st):
        print('*',end=" ")
    print()
    sp-=1
    st+=2

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [19]:
# By using function
def traingle(n):
    st=1
    sp=n-1
    for i in range(n):
        for j in range(sp):
            print(' ',end=" ")
        for k in range(st):
            print('*',end=" ")
        print()
        sp-=1
        st+=2
traingle(5)

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [20]:
# traingle
n=5
st=1
sp=0
for i in range(n):
    for j in range(st):
        print('*',end=' ')
    print()
    st+=1

*
* *
* * *
* * * *
* * * * *

In [21]:
n=5
sp=n
st=1
for i in range(n):
    for j in range(sp):
        print(' ',end=" ")
    for k in range(st):
        print('*',end=" ")
    print()
    sp-=1
    st+=1

          *
        * *
      * * *
    * * * *
  * * * * *

In [22]:
n=5
st=n
sp=0
for i in range(n):
    for j in range(st):
        print('*',end=" ")
    for k in range(sp):
        print(' ',end=" ")
    print()
    st-=1

* * * * *
* * * *
* * *
* *
*

In [23]:
n=5
sp=0
st=n
for i in range(n):
    for j in range(sp):
        print(' ',end=" ")
    for k in range(st):
        print('*',end=" ")
    print()
    sp+=1
    st-=1

* * * * *
  * * * *
    * * *
      * *
        *

In [25]:
n=9
sp=n-1
st=1
for i in range(n):
    for k in range(sp):
        print(' ',end=" ")
    for j in range(st):
        print('*',end=" ")
    print()
    if i<n//2:
        st+=2
        sp-=1
    else:
        st-=2
        sp+=1

                *
              * * *
            * * * * *
          * * * * * * *
        * * * * * * * * *
          * * * * * * *
            * * * * *
              * * *
                *

In [26]:
n=5
sp=n-1
st=1
for i in range(n):
    for j in range(sp):
        print(' ',end=" ")
    for k in range(st):
        print('*',end=" ")
    print()
    sp-=1

        *
      *
    *
  *
*

In [27]:
n=5
sp=0
st=1
for i in range(n):
    for j in range(sp):
        print(' ',end=" ")
    for k in range(st):
        print('*',end=" ")
    print()
    sp+=1

*
  *
    *
      *
        *

In [31]:
#reverse pyramid
def ReversePyramid(n):
    st=n*2-1
    sp=0
    for i in range(n):
        for j in range(sp):
            print(' ',end=" ")
        for k in range(st):
            print('*',end=" ")
        print()
        sp+=1
        st-=2
ReversePyramid(5)

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [34]:
#right star
def Rightstar(n):
    st=1
    for i in range(n):
        for j in range(st):
            print('*',end=" ")
        print()
        if i<n//2:
            st+=1
        else:
            st-=1
Rightstar(5)

*
* *
* * *
* *
*

In [36]:
#leftstar
def leftstar(n):
    sp=n-1
    st=1
    for i in range(n):
        for j in range(sp):
            print(' ',end=" ")
        for k in range(st):
            print('*',end=" ")
        print()
        if i<n//2:
            sp-=1
            st+=1
        else:
            sp+=1
            st-=1
leftstar(7)

            *
          * *
        * * *
      * * * *
        * * *
          * *
            *

In [38]:
#HourGlass
def Hourglass(n):
    st=n
    sp=0
    for i in range(n):
        for j in range(sp):
            print(' ',end=" ")
        for k in range(st):
            print('*',end=" ")
        print()
        if i<n//2:
            sp+=1
            st-=2
        else:
            sp-=1
            st+=2
Hourglass(7)

* * * * * * *
  * * * * *
    * * *
      *
    * * *
  * * * * *
* * * * * * *

In [40]:
#diamond
def diamond(n):
    sp=n-1
    st=1
    for i in range(n):
        for j in range(sp):
            print(' ',end=" ")
        for k in range(st):
            print('*',end=" ")
        print()
        if i<n//2:
            st+=2
            sp-=1
        else:
            st-=2
            sp+=1
diamond(7)

            *
          * * *
        * * * * *
      * * * * * * *
        * * * * *
          * * *
            *

In [42]:
#sides stars
n=7
for i in range(n):
    for j in range(n):
        if i+j==n//2 or abs(i-j)==n//2 or i+j==n//2*3:
            print('*',end=" ")
        else:
            print(' ',end=" ")
    print()

      *
    *   *
  *       *
*           *
  *       *
    *   *
      *